include README.md
include LICENSE
include tod.ini

recursive-include src/bg_daemon *.py
recursive-include src/bg_daemon *.c
recursive-include src/bg_daemon *.sh
recursive-include src/bg_daemon *.json
recursive-include tests *.py
